#root {
  max-width: 1280px;
  margin: 0 auto;
  //padding: 2rem;
  text-align: center;
  font-family: "WindSong", cursive;
  font-weight: 800;
  font-style: italic;
}
.mines-game {
  //font-family: "Kablammo", cursive;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 0 0 0.1rem darkslategrey;
  //border: 1px double #1a1a1a;
  background-color: #aaa;
  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    height: 3rem;
    margin: 10px;

    font-weight: bold;
    border: 2px outset #ddd;
    cursor: pointer;
    .header-inner {
      border: 2px outset #ddd;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;
      overflow: hidden;
      &.timer {
        width: 3rem;
      }
      &.mine-counter {
        width: 3rem;
      }
    }
  }

  .board {
    display: flex;
    background-color: #aaa;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .row {
      display: flex;
      justify-content: center;
    }

    .cell {
      box-sizing: border-box;
      border: 2px outset #ddd;
      cursor: pointer;
      width: 1.5rem;
      height: 1.5rem;

      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: bold;

      //border: 0.1rem solid #ccc;

      &.mine {
        //background-color: red;
        border: 1px solid grey;
      }

      &.safe {
        //background-color: green;
        border: 1px solid grey;
      }
      &.win {
        animation: colorChange 2s forwards linear;
        animation-delay: calc(var(--row) * 0.2s + var(--col) * 0.1s);
      }
    }
  }
}

@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
    //transform: rotate(360deg);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes colorChange {
  0% {
    background-color: red;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: #aaa;
  }
}
