.mines-game-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;

  .mines-game {
    //font-family: "Kablammo", cursive;
    font-family: "windSong", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    //box-shadow: darkslategrey 1rem 1rem 1rem 1rem;
    border: 2px darkslategrey solid;
    margin: 1rem;
    //border: 1px double #1a1a1a;
    background-color: #aaa;

    .header {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 80%;
      height: 3rem;
      margin: 10px;

      font-weight: bold;
      border: 2px outset #ddd;
      cursor: pointer;

      .header-inner {
        border: 2px outset #ddd;
        cursor: pointer;
        width: 1.8rem;
        height: 1.8rem;
        align-content: center;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        &.timer {
          width: 3rem;
        }

        &.mine-counter {
          width: 3rem;
        }
      }
    }

    .board {
      display: flex;
      background-color: #aaa;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .row {
        display: flex;
        justify-content: center;
      }

      .cell {
        box-sizing: border-box;
        border: 2px outset #ddd;
        cursor: pointer;
        width: 1.35rem;
        height: 1.35rem;

        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;

        //border: 0.1rem solid #ccc;

        &.mine {
          //background-color: red;
          border: 1px solid grey;
        }

        &.safe {
          //background-color: green;
          border: 1px solid grey;
        }

        &.win {
          animation: colorChange 2s forwards linear;
          animation-delay: calc(var(--row) * 0.2s + var(--col) * 0.1s);
        }
      }
    }
  }
}
@keyframes pop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
    //transform: rotate(360deg);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes colorChange {
  0% {
    background-color: red;
  }
  25% {
    background-color: green;
  }
  50% {
    background-color: blue;
  }
  75% {
    background-color: purple;
  }
  100% {
    background-color: #aaa;
  }
}
