html,
body,
#__next {
  height: 100%;
  margin: 0;
  padding: 0;
}
.main {
  height: 100%;
  max-width: 1280px;
  margin: 0 auto;
  //padding: 2rem;
  text-align: center;
  font-family: "WindSong", cursive;
  font-weight: 800;
  font-style: italic;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  .game-title {
    margin-top: 3rem;
  }
  .game-wrapper {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
